body{

    background: black;
}


.container {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxcontainer {
background: yellow;
height: 400px;
width: 400px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}

.uno {

    background: red;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}